@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto&family=Schibsted+Grotesk&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-family: 'Oswald', sans-serif;
}
p {
  font-family: Roboto;
}

/******************** TOPBAR *****************/
.top-header-container {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 145px;
  border: 1px solid #0c8ce9;
}

/** social icons **/
.social {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social span {
  padding: 4px 4px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c8ce9;
  border-radius: 100%;
}

/** Logo **/
.logo {
  flex-shrink: 0;
  width: 15%;
}

.logo-text {
  position: absolute;
  top: 35px;
}

.logo-line {
  position: relative;
  top: 25px;
}

/** search-bar **/
.search {
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  border: 2px solid black;
  height: 40px;
  width: 150px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search button {
  height: 40px;
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: none;
  color: aliceblue;
}

/******************** NAVBAR *****************/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  background-color: #030303;
  width: 100%;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 10;
}

/** nav-menu **/
.nav-menu {
  border: 2px solid rgb(255, 254, 254);
  padding: 5px;
  display: flex;
  cursor: pointer;
}

/** nav-link **/
.nav-link ul {
  display: flex;
  gap: 25px;
}
.nav-link ul li a {
  color: white;
  font-family: Roboto;
}

/** subscribe btn **/
.nav-subscribe-btn button {
  font-family: 'Oswald', sans-serif;
  padding: 10px 18px 10px;
  background-color: #0c8ce9;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/******************** HERO SECTION *****************/
.hero-section-container {
  display: flex;
  padding: 0 130px;
  gap: 15px;
}

/** hero-left 👈 side item**/
.hero-left {
  width: 85%;
  padding-top: 2.5rem;
}

.hero-left img {
  width: 100%;
}

/* hero-left -> top-img-text */
.hero-left {
  position: relative;
  color: white;
}

.top-img-text {
  display: flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #ff2a0d;
  position: absolute;
  top: 70px;
  left: 40px;
  color: #fff;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.003rem;
}

/* hero-left -> bottom-img-text */
.bottom-img-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.bottom-img-text > div {
  display: flex;
  gap: 15px;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.04px;
  word-wrap: break-word;
  margin-bottom: 6px;
}

.bottom-img-text > h1 {
  color: white;
  font-size: 38px;
  font-family: Oswald;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 48px;
  word-wrap: break-word;
}

/** hero-rigth 👉 side item **/
.hero-rigth {
  padding-top: 2.5rem;
  gap: 5px;
}

/** rigth item **/
.rigth-item {
  position: relative;
  color: white;
  opacity: 90%;
  padding: 0 15px 10px 0;
}

.rigth-item img {
  width: 345px;
}

.rigth-item > .top-text {
  display: flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  background: #047ffa;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.003rem;
}

.rigth-item > .bottom-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.bottom-text > div {
  display: flex;
  gap: 15px;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.04px;
  word-wrap: break-word;
  margin-bottom: 6px;
}

.bottom-text > h1 {
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
}

/******************** WHERE DO YOU WANT- SECTION *****************/
.container-4 {
  padding-top: 50px;
  margin: 0 130px;
}

.container-4 h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-style: normal;
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px 0;
  gap: 25px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

/******************** TOP DESTINATION SECTION *****************/
.container-5 {
  padding-top: 50px;
  margin-left: 130px;
  margin-right: 130px;
}

.container-5 > h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-style: normal;
  text-transform: uppercase;
}

.grid-container-5 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
}

.grid-item > {
  margin: 10px;
}

.date-icon {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.date-icon > p {
  font-size: 14px;
  color: rgb(139, 137, 137);
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.04px;
}

.grid-item > h1 {
  color: #0a0a0a;
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  text-transform: uppercase;
}

.more-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.more-link a {
  color: #838383;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.016px;
}

/******************** POST BLOG BANNER SECTION *****************/
.container-6 {
  padding: 80px 130px;
}

.post-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(4, 127, 250);
  background: linear-gradient(
    90deg,
    rgba(4, 127, 250, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(206, 12, 255, 1) 90%
  );
  height: 190px;
}

.post-blog-text {
  color: #fff;

  font-family: Oswald;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 127.273% */
  letter-spacing: 0.11px;
  padding: 50px;
}

/* post-blog-card */
.post-blog-card {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  left: 200px;
  padding: 12px 6px 0;
}

.post-card-1 {
  position: absolute;
  padding: 50px;
}

.post-card-2 {
  position: absolute;
  padding: 100px;
}

.post-card-3 {
  position: absolute;
  padding: 150px;
}

/* .post-blog-btn*/
.post-blog-btn {
  padding: 0 50px;
}
.post-blog-btn button {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.016px;
  display: flex;
  padding: 14px 20px;
  align-items: center;
  gap: 8px;
  background: #047ffa;
  border: none;
  cursor: pointer;
}

/******************** MOST AMAZING PLACE SECTION *****************/

.container-7 {
  padding: 40px 110px 50px 130px;
  background: #fafafa;
}

.container-7 > h1 {
  padding: 25px 0;
  font-size: 32px;
  font-style: normal;
  text-transform: uppercase;
}

.grid-amazing-place {
  display: flex;
  gap: 31px;
}

/* grid-amazing-place 👈 left */

.place-left {
  width: 55%;
}

.place-artcle {
  width: 100%;
}

.place-artcle-icon {
  display: flex;
  gap: 15px;
  padding: 10px 0;
  color: #838383;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.035px;
}

.place-artcle > .place-artcle-text > h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

.place-artcle > .place-artcle-text > p {
  padding: 0px 0px 31px;
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* grid-amazing-place 👉 right */
.place-right {
  width: 60%;
}

.place-right article {
  display: flex;
  gap: 20px;
  padding: 0px 0px 25px 0px;
}

.plcae-date-icon {
  display: flex;
  gap: 10px;
  color: #838383;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.035px;
}

.place-artcle-text > h1 {
  padding: 10px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  text-transform: uppercase;
}

.place-artcle-text > p {
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0px 0px 25px;
}

/******************** LATEST FROM MY JOURNAL SECTION*****************/
.container-8 {
  padding: 100px 130px 60px 130px;
}

.journal-left > h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-style: normal;
  text-transform: uppercase;
}

.grid-journal {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* grid-journal 👈 left */

.journal-left {
  width: 80%;
}

.journal-left > hr {
  margin: 32px 0;
}

.journal-artcle-icon {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  color: #838383;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.035px;
}

.journal-artcle > .journal-artcle-text > h1 {
  font-family: Oswald;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  text-transform: uppercase;
}

.journal-artcle > .journal-artcle-text > p {
  padding: 15px 0;
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* journal-artcle-grid */

.journal-artcle-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px 0;
  gap: 25px;
}

.journal-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
}

.journal-grid-icon {
  display: flex;
  gap: 10px;
  padding: 6px 0;
  color: #838383;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.035px;
}

.journal-grid-text > h1 {
  color: #0a0a0a;
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.027px;
  text-transform: uppercase;
}

.journal-grid-text > p {
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
  padding: 16px 0;
}

/* journal pagination */

.pagination {
  display: flex;
  gap: 15px;
  padding: 35px 0;
}

.pagination > .pagination-item {
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
}

/* grid-journal 👉 left */
.journal-right {
  width: 35%;
  background: #f4f4f4;
  padding: 15px;
}

.journal-right h1 {
  color: #0a0a0a;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
}

.journal-right > article {
  gap: 10px;
  padding: 10px 0;
}

.journal-right > article > .journal-img {
  width: 100%;
}

.journal-img {
  width: 100%;
}

.journal-date-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #838383;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.035px;
}

.journal-artcle-text > div > h1 {
  padding: 8px 0;
  color: #0a0a0a;
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  text-transform: uppercase;
}

.journal-artcle-text > div > p {
  color: #838383;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.journal-right > hr {
  margin: 20px 0;
}

/* popular-post */

.popular-post {
  display: flex;
}

.popular-img {
  width: 90%;
}

.popular-img img {
  width: 100%;
}

.popular-date-icon {
  display: flex;
  gap: 10px;
  color: #838383;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.035px;
}

.popular-post-text > h1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

/* popular-banner */
.popular-banner {
  height: 60vh;
  padding: 20px;
  background: linear-gradient(0deg, #8704a8 0%, #022f5b 100%);
}

.popular-banner-text {
  padding: 20px;
}

.popular-banner-text h1 {
  color: #fff;
  font-family: Oswald;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 143.75% */
  letter-spacing: 0.08px;
}

.popular-banner-text p {
  color: #d9d9d9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
  padding: 10px 0;
}

.popular-banner > .popular-banner-text > button {
  padding: 14px 20px;
  align-items: center;
  border: 1px solid #fff;
  gap: 8px;
  color: #fff;
  background-color: transparent;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.016px;
  cursor: pointer;
}

/* popular-banner SVG */
.popular-card {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  left: 280px;
  right: 100px;
  top: 90px;
  margin: 10px;
}

.popular-card-1 {
  position: absolute;
}

.popular-card-2 {
  position: absolute;
  padding: 40px;
}

.popular-card-3 {
  position: absolute;
  padding: 80px;
}

/* popular-gallery */
.popular-gallery h1 {
  padding-top: 20px;
}

.gallery-grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

.gallery-grid-item > img {
  width: 100%;
  object-fit: cover;
}

footer {
  background-color: #030303;
}
